<<<<<<< HEAD
@media screen and (max-width: 480px)
=======
@media screen and (max-width: 700px)
>>>>>>> c459469 (Your commit message here)
{  
    html{
        height: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    .company-logo-container{
        display: inline-block;
        width: 50%;
        margin: 0 0 auto 0;
    }

    .navbar-content{
        margin: 0 0 1rem 0;
    }

<<<<<<< HEAD
    .navbar-content ul li a{
        font-size: 0.8rem;
    }

    .navbar-content ul li{
        margin:0.3rem;
=======
    .nav-button{
        display: block;
        position: fixed;
        z-index: 7;
        top: 46px;
        right: 30px;
        background: none;
        border: none;
    }

    .nav-list{
        display: none;
    }

    .nav.open .nav-list{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        z-index: 1;
        padding: 46px 36px;
        display: flex;
        flex-direction: column;
        row-gap: 46px;
        width: 100%;
    }

    .nav-link{
        color: gray;
    }

    .nav-link.active{
        color: black;
>>>>>>> c459469 (Your commit message here)
    }
 
    .main-container{
        margin: 5rem 0;
    }

    .main-text{
        font-size: 1rem;
        letter-spacing: 0;
    }

    .secondary-container{
        margin:0;
    }
    
    .secondary-text{
        font-size: 1rem;
        line-height: 2.3rem;
    }

    .submit{
        margin: 5rem 0;
    }

    .submit:hover, .submit:active{
        transform: scale(1.1);
        background-color: rgba(0,0,0,0.3);
    }

    .txt{
        display: none;
    }

    .cities__container{
        display: none;
    }

    .non-profit{
        font-size: 1rem;
    }

    .circle__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ml-10{
        margin-top: 59px;
    }
    
    .circle-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .circle-text{
        color: rgba(53, 83, 98, 0.8);
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5rem;
        margin-top: 26px;
        width: 3.1rem;
    }
    
    .circle-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #003331;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 999px; 
        color: white;
    }
    
    .circle-number{
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
    }
    
    .circle-line{
        content: '';
        display: block;
        background-color: rgba(53,83,98,0.2);
        width: 5rem;
        height: 1px;
        margin-bottom: 1rem;
    }
    
    .human-text{
        color: #003331;
        font-family: Public Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 100% */
        letter-spacing: 1.5px;
        width: 100%;
        margin: 0;
        }
        
        .ml-11{
            margin-top: 200px;
        }
        
        .human-text2{
            width: 20rem;
            color: rgba(53, 83, 98, 0.80);
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        margin: 0;
        }
        
        .ml-12{
            margin-top: 14px;
        }
        
        .human-button{
            width: 153px;
        height: 54px;
        flex-shrink: 0;
        border-radius: 80px;
        border: 1px solid rgba(53, 83, 98, 0.20);
        margin: 0;
        }
        
        .human-button-text{
            display: block;
        color: #00413E;
        text-align: center;
        font-family: Public Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.02px;
        width: 87px;
        width: 100%;
        line-height: 50px;
        }
        
        .ml-13{
            margin: 50px 0 0;
        }
        
        .image-container{
            position: absolute;
            right: 0;
        }
        
        .ml-14{
            margin-bottom: 250px;
        }
        
        #image1{
            width: 5rem;
            height: 5rem;
            flex-shrink: 0;
            margin: 10rem 0;
        }
        
        #image2{
        width: 5rem;
        height: 5rem;
        flex-shrink: 0;
        margin: 10rem 0;
        }

        .podcast-container{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;
            width: 100%;
            overflow-x: hidden;
           
         }
         
         .podcast-content{
             display: flex;
             align-items: center;
             justify-content: space-between;
             gap:30px;
             flex-direction: row;
             flex-wrap: wrap;
         }
         
         .ml-15{
             margin-top: 200px;
         }
         
         .podcast-line{
             margin: 19px 0;
             width: 165px;
             height: 1px;
             flex-shrink: 0;
             background: rgba(53, 83, 98, 0.30);
             display: none;
         }
         
         .podcasts{
             color: rgba(53, 83, 98, 0.80);
             font-family: Public Sans;
             font-size: 15px;
             font-style: normal;
             font-weight: 400;
             line-height: 24px; /* 160% */   
             width: 80px;
         }
         
         img{
             float: left;
         width: 24px;
         height: 24px;
         flex-shrink: 0;
         }

         .stats-container{
            display: none;
         }

         .stats-layout{
            display: none;
         }

         .click-container{
            margin: 10rem 0 0 0;
            width: 18rem;
         }

         .stats-header{
            margin-top: 6rem;
         }
         

         .work-layout{
            width: 1280px;
            height: 800px;
            flex-shrink: 0;
            background: #001F1F;
            width: 100%;
        }
        
        .ml-21{
            margin-top: 300px;
        }
        
        .work-container{
          display: inline-block;
        }
        
        .work-header{
            margin: 100px 0 0 0px;
            width: 304px;
        }
        
        .work-text1{
            color: #FAFAFA;
            font-family: Libre Baskerville;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 52px; /* 144.444% */
            letter-spacing: 1.2px;
        }
        
        .work-container1{
            margin: 80px 0 0 0px;
            width: 326px;
        }
        
        .work-text2{
            color: #FAFAFA;
            font-family: Public Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
        }
        
        .work-container2{
            margin: 70px 0 0 0px;
            width: 143px;
            height: 52px;
            flex-shrink: 0;
            border-radius: 80px;
            background: #00665F;
            color: #FFF;
            text-align: center;
            font-family: Public Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; /* 142.857% */
            letter-spacing: 0.02px;
        }

        #map-image{
            float: right;
            background-repeat: no-repeat;
            background-size: cover;
            width: 10rem;
            height: 10rem;
            flex-shrink: 0;
            border-radius: 3px; 
            margin:100px 64px 0 0;
        }

        .footer-layout{
            width: 1280px;
            flex-shrink: 0;
            background: #001414;
            width: 100%;
            height: 100%;
        }

        .footer-container{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            min-height: 100%;
          }
          
          .column{
            display: flex;
            flex-direction: column;
          }
          
          .ml-22{
              margin: 112px 0 0 0px;
          }
          
          .column-header{
              color: #7D9798;
              font-family: Public Sans;
              font-size: 11px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px; /* 145.455% */
              letter-spacing: 1px;
              text-transform: uppercase;
          }
          
          .ml-23{
              margin-left: 12px;
          }
          
          .column-line{
            height: 1px;
            width: 16px;
            background: #25B895;
            margin: 30px 0;
          }
          
          .ml-24{
              margin-left: 15px;
          }
          
          .column-text{
              margin: 12px;
              color: #EDECEB;
              font-family: Public Sans;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 13px; 
          }
          
          .column1{
              display: flex;
              flex-direction: column;
          }
          
          .ml-25{
              margin-left: 15px;
          }
          
          .column-header1{
              color: #7D9798;
              font-family: Public Sans;
              font-size: 11px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px; /* 145.455% */
              letter-spacing: 1px;
              text-transform: uppercase;
          }
          
          .column-line1{
              height: 1px;
              width: 16px;
              background: #25B895;
              margin: 30px 0;
          }
          
          .ml-26{
              margin-left: 15px;
          }
          
          .column-text1{
              margin: 12px;
              color: #EDECEB;
              font-family: Public Sans;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 12px;
          }
          
          .ml-27{
              margin-left: 15px;
          }
          
          .ml-28{
              margin-left: 15px;
          }
          
          .ml-29{
              margin: 112px 0 0 0px;
          }
          
          .footer-bottom{
              position: relative;
              width: 5rem;
              height: 7rem;
              flex-shrink: 0;
              margin-top: 200px;
              background: #000F0F;
              flex-wrap: wrap;
              width: 100%;
              height: 100%;
          }
          
          .footer-bottom-container{
              position: absolute;
              margin: 20px 0 0 0px;
          }

          .footer-bottom-container-header{
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
          }
          
          .ml-31{
              margin: 40px auto 0 0 ;
          }
          
          .footer-bottom-container-text{
             width: 50px;
             margin: 10px;
             color: #E5ECEC;
             font-family: Public Sans;
             font-size: 10px;
             font-style: normal;
             font-weight: 400;
             line-height: 10px; /* 100% */
          }
}
